AUTH_JWT_SECRET=your-secret-key-here
AUTH_JWT_ALG=HS256
AUTH_JWT_EXP_MINUTES=15
AUTH_REFRESH_TOKEN_KEY=your-secret-secret-key-here
AUTH_REFRESH_TOKEN_EXP=30d
AUTH_SECURE_COOKIES=true

TG_BOT_TOKEN="/"
DATABASE_URL="mysql+aiomysql://root:my-secure-password@localhost:3306/xpro_support_db"
